<div class="main">
    <div class="chat">
        <div class="chat-1">    
            <div class="chat-2">
                <div class="chat-3-1">
                    <p class="username">
                        Bob
                        <span class="time">
                            2020/01/01
                        </span>
                    </p>

                    <p class="sentence">
                        Hi!
                    </p>
                </div>

                <div class="chat-3-2">
                    <ul class="rewrite">
                        <li class="edit-delate-1">
                            <a class="edit-delate-2" href="/">
                                edit
                            </a>
                        </li>

                        <li class="edit-delate-1">
                            <a class="edit-delate-2"href="/">
                                delate
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-2">
                <div class="chat-3-1">
                    <p class="username">
                        Michel
                        <span class="time">
                            2020/01/01
                        </span>
                    </p>

                    <p class="sentence">
                        STFU
                    </p>
                </div>

                <div class="chat-3-2">
                    <ul class="rewrite">
                        <li class="edit-delate-1">
                            <a class="edit-delate-2" href="/">
                                edit
                            </a>
                        </li>

                        <li class="edit-delate-1">
                            <a class="edit-delate-2"href="/">
                                delate
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-2">
                <div class="chat-3-1">
                    <p class="username">
                        Bob
                        <span class="time">
                            2020/01/01
                        </span>
                    </p>

                    <p class="sentence">
                        Fuck u
                    </p>
                </div>

                <div class="chat-3-2">
                    <ul class="rewrite">
                        <li class="edit-delate-1">
                            <a class="edit-delate-2" href="/">
                                edit
                            </a>
                        </li>

                        <li class="edit-delate-1">
                            <a class="edit-delate-2"href="/">
                                delate
                            </a>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    <div class="chat-form">
        <form class="form">
            <input class="text" type="text">

            <input class="send" type="submit" value="SEND">
        </form>
    </div>
</div>