// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./color";

.main {
    height: calc(100vh - 80px);  // vhは「viewport height」の略で、viewport の高さ（ブラウザの高さ）に対する指定です。100vhで表示しているスマホやPCのウィンドウサイズの100%という意味になります 
    .chat {
        padding: 0 20px;
        height: calc(100vh - 160px);
        background-color: $sub-color;
        .chat-1 {
            padding: 0 20px;
            max-height: calc(100vh - 170px);
            background-color: $sub-color;
            overflow-y: auto;
            .chat-2 {
                padding: 0 20px;
                background-color: $chat-color;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                margin:10px;   
                .chat-3-1 {
                    padding: 0 20px;
                    overflow-y: auto;
                    .username {
                        padding: 0 20px;
                        color: $name-color;
                        .span {
                            padding: 0 20px;
                        }
                    }
                    .sentence {
                        padding: 0 20px;
                        color:$text-color                   
                    }
                }
                .chat-3-2 {
                    padding: 0 20px;
                    max-height: calc(100vh - 170px);                                               
                    .rewrite {
                        padding: 0 20px;
                        max-height: calc(100vh - 170px);           
                        .edit-delate-1 {
                            padding: 0 20px;
                            max-height: calc(100vh - 170px);
                            border-radius: 5px;
                            background-color: $box-color; 
                            margin:10px;                          
                        }
                        .edit-delate-2 {
                            padding: 0 20px;
                            max-height: calc(100vh - 170px);
                            border-radius: 5px;
                            text-decoration: none;
                            color: $chat-color                            
                        }
                    }
                }
            
            }
        }
        
        
    }
    
    .chat-form {
        height: 80px;
        padding: 20px;
        background-color: $main-color;
        .form {
            padding: 0 20px;
            border-radius: 5px;
            width: 100%;
            text-decoration: none;
            color: $text-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text {
                padding: 0 20px;
                width: 80%;
                border-radius: 5px;
                text-decoration: none;
                color: $name-color                            
            }
            .send {
                padding: 0 20px;
                max-height: calc(100vh - 170px);
                border-radius: 5px;
                text-decoration: none;
                background-color: $SENDbox-color;
                color: $chat-color;                  
            }       
                      
        }
        
    }
}